*{
    margin: 0;
}

.content{
    background-color: blue;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

p{
    font-size: xx-large;
    padding: 15%;
    color: white;
}

button{
    font-size: xx-large;
    padding: 0.75em;
}

#yesbtn{
    transform: translate(-100%,0);
}

#nobtn{
    position: absolute;
}